.footer {
    height: 250px;
    display: flex; 
    gap: 1rem; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f7f4;
    color: #272D2D; 
}