/*navbar*/
.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem; 
    background-color: #007e7a;
    color: #fff; 
    position: relative;  
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px; 
    margin-right: 0.8rem; 
}

.navbar_logo h2 {
    color: #fff;
}

.navbar ul {
    position: relative;
    display: flex; 
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
    padding: .5rem .8rem; 
    transition: .5s;
    border-radius: 5px;
}

.navbar ul li a:hover {
    color: #ecb11f;
}

.nav_icon {
    cursor: pointer;
    display: none; 
}


/*media queries*/
@media only screen and (max-width: 640px) {
    .nav_icon {
        display: block; 
    }

    .navbar ul {
        display: none;
        padding: 2rem 0;
        position: absolute;
        width: 100%; 
        flex-direction: column;
        top: 4rem;
        left: 0;  
        align-items: center;
        background-color: inherit;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar ul li, 
    .navbar ul li a{
        display: block; 
        width: 100%;
    }

    .navbar ul li a {
        border-radius: 0;
    }

}